@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Recoleta';
  src: local('Recoleta'), url("./fonts/Recoleta-RegularDEMO.otf")
  format('opentype');
}

@font-face {
  font-family: "Grotesk";
  src: local("Grotesk"), url("./fonts/Grotesk/VastagoGrotesk-Light.otf") format("opentype");
}

body {
  font-family: Recoleta;
}
/* * {
  border: 1px solid red;
} */
.font-title {
  font-family: Grotesk;
}


